.address-field {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.address-field > div {
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.address-field > div > div:last-child {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 0;
}

.box-icon {
    height: 100%;
    aspect-ratio: 1/1;
    width: auto;
    padding-right: 1rem;
    margin: 0;
}

.box-icon > i {
    position: relative;
}
