:root {
    --clr-primary-300: hsl(25, 98%, 30%);
    --clr-primary: #FF869E;
    --clr-primary-600: #fc8129;
    --clr-secondary: #FFC4C4;
    --clr-secondary-300: #fdcf80 ;
    --clr-secondary-100: hsl(240, 13%, 12%);
    --clr-secondary-600: #898ca9e6;
    --primary-text: #444444;
    --header-height: 70px;
}
